:root {
    --border-color: #82DBD8;
}

/* General Selectors */
body {
    background-color: #FDFDF0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-size: 18px;
    
}

/* Header & Nav Section */
header {
    background-color: #252729;
    padding-bottom: 15px;
}

header h1 {
    font-size: 40px;
    background-color: #82DBD8;
    display: inline-block;
    color: #252729;
    margin-top: 10px;
    padding-left: 50px;
}

header nav {
    float: right;
    font-size: 25px;
    margin: 25px 50px;
    color: #82DBD8;
    
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 5px;
    border-bottom: 3px solid #82DBD8;
    ;
}

/* Main Background Image */
.bg-image {
    background-image: url("../img/placeholder-background.png");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
}

/* Used for the subtitle on the bottom right of the background image. */
.sub-container {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    min-height: 100%;
    min-width: 100%;
}

.subtitle {
    color: #252729;
    position: relative;
    z-index: 999;
    margin-top: 7%;
    margin-right: 2%;
    margin-bottom: 20px;
    font-size: 30px;
    background-color: #82DBD8;
    align-self: center;
}

/* General Semantic Selectors */
main {
    margin-top: 25px;
    background-color: white;
    /* display: flex;
    flex-flow: column nowrap; */
}

/* About Me Section */
.about-me {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 25px 25px;
}

.about-items {
    display: flex;
    padding-left: 50px;
}

.about-me h1 {
    font-size: 40px;
    border-right: 5px solid black;
    min-width: 200px;
    width: 200px;
}

.about-items a {
    text-decoration: underline;
    color: #1c6d6a;
}

#headshot {
    margin: 0px 50px;
    border-radius: 50%;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-width: 150px;

}

/* Work Section */
.work { 
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 25px 25px;
}

.work h1{
    font-size: 40px;
    border-right: 5px solid black;
    min-width: 200px;
    width: 200px;
}

.work-items {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    margin: 0px 200px;
}

.primary-item {
    align-self: center;
    background-image: url(../img/dummy-main.png);
    background-position: center;
    width: 100%;
    min-width: 600px;
    min-height: 400px;
    border: 5px solid var(--border-color);
    filter: grayscale(70%);
}

.primary-item:hover {
    filter: grayscale(0%);
}

.secondary-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 50px 0px;
}

.secondary {
    margin: 0px 20px;
    min-width: 300px;
    min-height: 200px;
    border: 5px solid var(--border-color);
    filter: grayscale(70%);
}

/* These IDs are used to change the background images of the secondary work items. */
/* These are currently placeholder images. */
#secondary-1 {
    background-image: url(../img/dummy-secondary.png);
}

#secondary-2 {
    background-image: url(../img/dummy-secondary.png);
}

#secondary-3 {
    background-image: url(../img/dummy-secondary.png);
}

/* Determines functionality  */
#secondary-1:hover {
    filter:grayscale(0%);
}

#secondary-2:hover {
    filter:grayscale(0%);
}

#secondary-3:hover {
    filter:grayscale(0%);
}

/* Contact Me Section */
.contact-me {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 25px 25px;
}

.contact-me h1 {
    font-size: 40px;
    border-right: 5px solid black;
    min-width: 200px;
    width: 200px;
}

.contact-me ul {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0px 5%;
}
.contact-items li {
    align-self: center;
    font-size: 30px;
    margin: 0px 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

/* Page Responsiveness */
@media screen and (max-width: 990px) {

    .about-items {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #headshot {
        margin-bottom: 20px;
    }

    .contact-items {
        flex-direction: column;
    }

    .work-items {
        margin-left: 5px;
    }

    .subtitle {
        margin-bottom: 20%;
    }

}