.bg-image {
    background-image: url("../img/placeholder-background.png");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header Section */
header {
    background-color: #252729;
    padding-bottom: 15px;
}

header h1 {
    font-size: 40px;
    background-color: #82DBD8;
    display: inline-block;
    color: #252729;
    margin-top: 10px;
    padding-left: 50px;
}

header nav {
    float: right;
    font-size: 25px;
    margin: 25px 50px;
    color: #82DBD8;
    
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 5px;
    border-bottom: 3px solid #82DBD8;
    ;
}

/* General Semantic Selectors */
main {
    margin-top: 25px;
    background-color: white;
    /* display: flex;
    flex-flow: column nowrap; */
}


/* About Me Section */

.about-me {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 25px 25px;
}

.about-items {
    padding-left: 50px;
    position: relative;
}

.about-me h1 {
    font-size: 40px;
    border-right: 5px solid black;
    min-width: 200px;
    width: 200px;
}

.about-me p {
    float: right;
}

#headshot {
    margin-left: 50px;
}


/* Work Section */
.work { 
    display: flex;
    justify-content: flex-start;
    margin: 25px 25px;
}

.work h1{
    font-size: 40px;
    border-right: 5px solid black;
    min-width: 200px;
    width: 200px;
}

.work-items {
    padding-left: 50px;
    max-width: 50%;
}

.primary-item {
    background-image: url(../img/dummy-main.png);
    background-position: center;
    align-self: flex-start;
    flex-grow: 1;
    max-width: 600px;
    min-height: 400px;
    border: 5px solid cyan;
}

.secondary-items {
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-top: 20px;  
}

.secondary-1 {
    background-image: url(../img/dummy-secondary.png);
    height: 200px;
    width: 300px;
    border: 5px solid cyan;
    margin: 0px 25px;
}

.secondary-2 {
    background-image: url(../img/dummy-secondary.png);
    height: 200px;
    width: 300px;
    border: 5px solid cyan;
    margin: 0px 25px;
}

.secondary-3 {
    background-image: url(../img/dummy-secondary.png);
    height: 200px;
    width: 33%;
    border: 5px solid cyan;
    margin: 0px 25px;
}


/* Contact Me Section */
.contact-me {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 25px 25px;
}

.contact-me h1 {
    font-size: 42px;
    border-right: 5px solid black;
    min-width: 200px;
    width: 200px;
}

.contact-me ul {
    display: flex;
    flex-flow: row nowrap;
}

.contact-me ul li {
    /* display: inline-block; */
    border-bottom: 3px solid #82DBD8;
    font-size: 32px;
    padding: 0px 50px;
}

.contact-items {
    padding-left: 50px;
    align-self: center;
}

/* Collapse to Hamburger Menu */
/* 48em = 768px */

/* @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none
    }
} */